<div class="col-lg-3">
  <h1 class="my-4"><%= t "base.location" %></h1>
  <div class="list-group">
    <a href="#" class="list-group-item"><%= t "district.tk"%></a>
    <a href="#" class="list-group-item"><%= t "district.st"%></a>
    <a href="#" class="list-group-item"><%= t "district.nhs"%></a>
    <a href="#" class="list-group-item"><%= t "district.lc"%></a>
    <a href="#" class="list-group-item"><%= t "district.hc"%></a>
    <a href="#" class="list-group-item"><%= t "district.cl"%></a>
    <a href="#" class="list-group-item"><%= t "district.hv"%></a>
    <a href="#" class="list-group-item"><%= t "district.hs"%></a>
  </div>
</div>
